
/* --- Global Base ---- */
body{
    font-family: 'Poppins', sans-serif;
    color: #544837;
}

h1{
    font-size: 44px;
    line-height: 54px;
}

h2{
    font-size: 36px;
}

h3{
    font-size: 22px;
}

p{
    font-size: 16px;
    line-height: 28px;
}

section{
    padding-top: 110px;
    padding-left: 140px;
    padding-right: 140px;
}

/* --- Links & Buttons --- */
nav{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 40px 140px; 
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 29px ;
}

.nav-right ul{
    display: flex;
    flex-direction: row;
    gap: 27px;
}
  
.nav-link{
    text-decoration: none;
    color: #2F281E;
}

.nav-footer .nav-link{
    font-size: 16px;
}

ul{
   list-style: none; 
}

a{
    color: #FF9900;
    font-size: 14px;
}

a:hover{
    color: darkgoldenrod;
}

a:visited{
    color: purple;
}

button{
    width: 110px;
    height: 46px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}

.btn-main{
    display: inline-block;
    color: #FFFFFF ;
    background-color: #FF9900;
}

.btn-main:hover{
    background-color: darkgoldenrod;
}

.btn-cta{
    width: 200px;
}

/* sign up button, fix name later for*/
.btn-alt{
    color: #173A56;
    background-color: #FFFFFF;
    border: 1px solid #BCD0E5;
    font-size: 16px;
}

.btn-alt:hover{
    background-color: darkcyan;
}

/* Bottom button, fix name later*/
.btn-alt2{
    width: 131px;
    height: 39px;
    background-color: #FF9900;
    color: #FFFFFF;
}

input{
    width: 325px;
    height: 48px;
    border: 2px solid #BCD0E5;
    border-radius: 4px;
}

/* --- Images --- */
img{
    max-width: 100%;
    display: block;
}

.image-main-logo{
    width: 185px;
    height: auto;
}

.image-hero{
    width: 100%;
    max-width: 605px;
    height: auto;
}

.image-icons{
    width: 50px;
    height: 50px;
}

.image-section1{
    width: 100%;
    max-width: 520px;
    height: auto;
}

.image-section2{
    width: 100%;
    max-width: 535px;
    height: auto;
}

.image-section3{
    width: 100%;
    max-width: 542px;
    height: auto;
}

/* --- Hero - Section --- */

.hero-content{
    padding-right: 140px ;
    padding-left: 140px;
    display: flex;
    align-items: center;
}

.hero-text{
    display: flex;
    flex-direction: column;
}

/* --- Feature - Section --- */

.feature-section h2{
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
    padding-bottom: 55px;
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
    padding-bottom: 34px;
}

.SIGN-UP-NOW{
    width: 175px;
}

.features-cta {
    display: flex;
    justify-content: center;
}

/* --- Design Professionals/Marketers - Sections --- */
.section1{
    display: flex;
    align-items: center;
}

.text-section1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* I hade to remove default margins to let gap control the spacing*/
.text-section1 p, .text-section1 h2, .text-section1 h3{
    margin: 0;
}

.image-section1{
    margin-left: 105px;
}


/* --- Product Managers - Section --- */
.section2{
    display: flex;
    align-items: center;
}

.text-section2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-section2 p, .text-section2 h2, .text-section2 h3{
    margin: 0;
}

.check-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.check-list li{
    display: flex;
    align-items: center;
}

.check-list li svg{
    width: 30px;
    height: 30px;
    padding-right: 30px;
}

.image-section2{
    margin-right: 105px;
}

/* --- Footer --- */
footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 145px;
    padding-right: 140px;
    padding-left: 140px;
    padding-bottom: 85px;
    gap: 100px;
}

.image-main-logo2{
    display: flex;
    align-self: flex-start;
    width: 185px;
    height: 32px;
}

.footer-content{
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
    gap:40px
}

.nav-footer ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 16px;
}
